<div class="products">
  <div class="container">
    <div class="counter_wrapper_p">
      <img class="cart_img" src="./images/cart-green.svg" alt="cart" />
      <p class="cart-p">CART<span class="cart_count basket_span">(0)</span></p>
    </div>
    <div class="basket_products">
      <div class="delete-all">
        Delete all
        <button class="delete_all-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <ul class="products_list">
 
      </ul>
    </div>
    <div class="sum_section">
      <h2 class="sum_title"><b>YOUR ORDER</b></h2>
      <div class="sum_info">
        <p class="sum_p">Total</p>
        <p class="sum_value">sum: <span class="summary">$0</span></p>
       
      </div>
      <input class="sum_input" type ="email" placeholder="Enter your email">
      <button class="checkout">Checkout</button>
    </div>