<div class="cart">
    <div class="container">
    <div class="cart_wrapper">  
          <div class="counter_wrapper"> 
     
        <img class="cart_img" src="./images/cart-green.svg" alt="cart">
 
        <p class="cart-p">CART<span class="cart_count basket_span">(0)</span></p>
    </div>
    <img class="basket_img" src="./images/basket-img.png" alt="basket">
<h4 class="empty_logo">Your basket is <span class="green">empty...</span></h4>
<p class="empty_p">Go to the main page to select your favorite products and
    add them to the cart.</p>
</div>
</div>

</div>
</div>  