$color_1: #7e9a23;
$color_2: #010101;
$color_3: #fafafa;
$color_4: #e8e8e2;
$color_5: #586f1f;
$color_6: #6d8434;
$color_7: #ffffff;
$color_8: #000000;
$color_9: #a3a3a3;
$color_10: #4d4d4d;
$inter1: Inter Regular;
$inter2: Inter Medium;
