html {
  scroll-behavior: smooth;
}

body {
  background-color: #e8e8e2;
}
.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (min-width: 1050px) {
  .container {
    max-width: 1000px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
button {
  padding: 0;
  border: none;
}
