html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  @media (min-width: 320px) {
    padding: 0 15px;
    width: 100%;
  }
  @media (min-width: 375px) {
    padding: 0 20px;
  }
  @media (min-width: 768px) {
    width: 704px;
    padding: 0 32px;
  }
  @media (min-width: 1600px) {
    width: 1240px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: Montserrat;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
