
<section class="cards">
    <div class="container">

        <!-- <div class="cards__cardContainer" id="js-cardContainer"></div> -->
        <div class="cards__block">
            <div class="cards__wrapper">
                <ul class="cards__list" id="js-cardList"></ul>
    
                <div class="cards__paginationBtns">
    
                    <div class="cards__btnGroup">
                        <button class="cards__paginationBtns__btn" id="js-leftDblBtn">
                            <i class="fa-solid fa-angles-left"></i>
                        </button>
        
                        <button class="cards__paginationBtns__btn" id="js-leftBtn">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                    </div>
    
        
                    <ul class="cards__btnsBlock" id="js-btnsBlock"></ul>
    
    
                    <div class="cards__btnGroup">
                        <button class="cards__paginationBtns__btn" id="js-rightBtn">
                            <i class="fa-solid fa-chevron-right"></i>
                                
                        </button>
                        <button class="cards__paginationBtns__btn" id="js-rightDblBtn">
                            <i class="fa-solid fa-angles-right"></i>
                        </button>
                    </div>
                </div>
            </div>
    
    
           <div class="cards__asideBlock">
                <!-- popular-->
            
                <div class="cards__popular">
                    <h2 class="cards__popular__title">Popular products</h2>
                    <ul class="cards__popular__list" id="js-popularList">
                    </ul>
                </div>

                <div class="cards__discount">
                    <h2 class="cards__popular__title">Discount products</h2>
                    <ul class="cards__discount__list" id="js-discountList"></ul>
                </div>



          </div> 

        </div>



    </div>
</section>