<footer class="footer">
  <div class="footer__container container">
    <div class="footer__left">
      <div class="footer__logo">
        <span>
          <img class="footer__logo_svg" src="/src/icons/logo.svg" alt="logo" />
        </span>
        <img
          class="footer__logo_text"
          src="/src/icons/logo-text.svg"
          alt="food botiq"
        />
      </div>
      <ul class="footer__list">
        <li class="footer__links">
          <a class="footer__link" href="#">
            <img src="/src/icons/facebook.svg" alt="facebook" />
          </a>
        </li>
        <li class="footer__links_item">
          <a class="footer__link" href="#">
            <img src="/src/icons/instagram.svg" alt="instagram"
          /></a>
        </li>
        <li class="footer__links_item">
          <a class="footer__link" href="#">
            <img src="/src/icons/youtube.svg" alt="youtube"
          /></a>
        </li>
      </ul>
    </div>
    <div class="footer__info">
      <div class="footer__center">
        <div class="footer__center_title">
          <h2 class="footer__title">
            Discover the Variety of Flavors and Quality
          </h2>
        </div>
        <div class="footer__center_subtitle">
          <p class="footer__subtitle">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
      </div>

      <div class="footer__right">
        <h4 class="footer__subscribe_title">
          Subscribe and learn about new products!
        </h4>
        <form class="footer__subscribe_form" id="subscribe_form">
          <input
            class="footer__subscribe_input"
            type="email"
            placeholder="Email"
            name="email"
            autocomplete="email"
          />
        </form>

        <button class="footer__subscribe_btn" data-open-thanks>Send</button>
      </div>
    </div>
    <div class="footer__buttom_text">
      <p class="footer__buttom_left">Food Boutique. All rights reserved.</p>
      <div class="footer__buttom_part_right">
        <p class="footer__buttom_right">Privacy Policy / Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
