<header class="header">
 <div class="container">   
    <img class="header_logo" src="./images/Link.svg" alt="logo">
    <div class="header_btn-container">
        <button class="header_btn"> <a href="./index.html">Home</a></button>
        <div class="header_wrapper">
            <button class="header_cart-btn">
            <a href="./cart.html">
                <img src="./images/cart.svg" alt="cart"> 
            </a>
           
            </button>
        <p class="header_cart-p">Cart<span class="basket_span">(0)</span></p></div>
    </div></div>
</header>