<header class="header">
 <div class="header_container">   
    <img class="header_logo" src="./images/Link.svg" alt="logo">
    <div class="header_btn-container">
        <button class="header_btn">Home <a href="./index.html"></a></button>
        <div class="header_wrapper">
            <button class="header_cart-btn">
            <img src="./images/cart.svg" alt="cart"> <a href="#"></a>
        </button>
        <p class="header_cart-p">Cart<span class="header_span">(0)</span></p></div>
    </div></div>
</header>