<section class="intro">
  <div class="container">
    <div class="intro__box">
      <h2 class="intro__title">
        Welcome to the <span class="intro__highlight">Food</span> Boutique!
      </h2>
      <h2 class="intro__subtitle">
        With Food Boutique, you're not just subscribing to food, you're
        <br />
        signing up for a fresher, fitter, and happier you.
      </h2>
      <div class="intro__spinnerbox">
        <img class="intro__spinner" src="./images/spinner.svg " alt="spinner" />
      </div>
      <picture class="intro__baner">
        <source
          media="(max-width: 768px)"
          srcset="./images/tabletIntro1x.png 1x, ./images/tabletIntro2x.png 2x"
        />

        <source
          media="(max-width: 375px)"
          srcset="./images/mobileIntro1x.png, ./images/mobileIntro2x.png"
        />

        <img
          class="intro__img"
          width="1440"
          height="603"
          loading="lazy"
          alt="baner"
          src="./images/intro1x.png"
          srcset="./images/intro2x.png 2x"
        />
      </picture>
    </div>
  </div>
</section>
